*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-wrapper img{
    width: 150px;
    height: 40px;
    border: 2px solid red;
    margin-top: 20px;
    margin-left: 80px;
    border: none;
}


:root{
    --primery-color:black;
    --secondary-color:orange;
    --third-color:blue;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

.padding{
    padding: 10px 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.header .logo-wrapper img{
    width: 150px;
    height: 51px;
    object-fit: contain;

}

.header .nav ul{
    display: flex;
    gap: 20px;
    justify-content: end;

}

.header .nav ul li {
    margin-right: 30px;
}

.header .nav ul .Get-started a {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
}

.heading{
    margin-top: 50px;
    margin-left: 95px;
    font-size: 40px;
}

.para{
    margin-top:40px ;
    margin-left:95px ;
}

.button a{
    margin-top: 60px;
    margin-left:110px ;
    border: 1px solid blue;
    border-radius: 80px;
    background-color:var(--third-color) ;
    color:#fff;
    display:inline-block;
    font-size: 30px;
    padding: 10px 20px;
}
.mobile-nav{
    display: none;
}

@media screen and (max-width:768px){
    .desktop-nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
}












